html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica';
    background-color: rgb(30, 30, 30);
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    position: relative;
}

#game {
    position: relative;
}

.options {
    margin-top: 5px;
}

.hidden {
    display: none;
}

.restart-button {
    display: flex;
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #986d34;
    border-radius: 5px;
    background-color: #c9ac68;
    color: black;
}

.restart-button:hover {
    background-color: #986d34;
}

label > input[type='checkbox'] {
    display: none;
}

label > input[type='checkbox'] + *::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    width: 1rem;
    height: 1rem;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
}

label > input[type="checkbox"]:checked + *::before {
    text-align: center;
    background: #c9ac68;
    border-color: #986d34;
}

label > input[type="checkbox"]:checked + * {
    color: #986d34;
}
  